body {
  font-family: 'Roboto';
  color: #333;
  background-color: #F9F7EB;
      margin:0;
    height: 100%;
}

table, th, td {
	border: 1px solid #aaa;
	border-collapse: collapse;
	padding: 5px;
}

#speth {
	border-top: hidden;
	border-left: hidden;
}

#title {
  font-family: 'Merriweather';
  text-align: center;
  padding: 30px;
  font-size: 28px;
  letter-spacing: -0.01em;
  color: #333;
}


#chart-wrapper {
position: relative; 
height:80vh;
width:95vw;
}

#stats {
  display: block;
  justify-content: space-between;
  padding: 20px 10px;
  color: #aaa;
  font-size: 15px;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  color: #aaa;
  font-size: 12px;
}

#footer a {
  color: #aaa;
}